/* =========================
   HOME – Layout principal
   ========================= */

/* ===== BODY BASE ===== */

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  overflow-x: hidden;
}

/* ===== HERO SECTION ===== */

.hero {
  min-height: 100vh;
  padding: var(--space-xl) var(--space-md);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background:
    radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.04),
      transparent 60%
    );
}

.hero__content {
  max-width: 640px;
}

.hero__title {
  font-family: var(--font-secondary);
  font-size: clamp(2.2rem, 6vw, var(--font-size-xxxl));
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.02em;
}

.hero__subtitle {
  display: block;
  margin-bottom: var(--space-xs);

  font-size: var(--font-size-xxl);
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--color-accent-primary);
}

.hero__description {
  margin-top: var(--space-sm);

  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

/* ===== MAIN CONTENT ===== */

main {
  padding-bottom: var(--space-2xl);
}

/* ===== COCKTAILS SECTION ===== */

.cocktails {
  padding: var(--space-xl) var(--space-md);
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.card-grid-reverse {
    grid-column: span 2 / span 2;
    /* border: aqua 3px solid; */
    display: flex;
    flex-direction: row-reverse;
    border-bottom: var(--color-accent-primary) 1px solid;
}

/* .prueba-border {
    border: red 3px solid;
} */

.cocktail-card {
  grid-column: span 2 / span 2;
    /* border: aqua 3px solid; */
    display: flex;
    flex-direction: row;
    border-bottom: var(--color-accent-primary) 1px solid;
}

.card-space {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-space-reverse {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.cocktail-card__title {
  font-size: var(--font-size-xxl);
  color: var(--color-accent-primary);
}

.cocktail-card__ingredients {
  font-size: var(--font-size-md);
}

.cocktail-card__description {
  text-align-last: justify;
  font-size: var(--font-size-sm);
}

.cocktail-card__price {
  font-size: var(--font-size-lg);
}

/* ===== FEATURED COCKTAIL ===== */

.cocktail-card--featured {
  margin-top: var(--space-xl);
}

/* ===== CARD ONE ER ===== */
.card-one {
  padding-bottom: 20px
}

.card-one__tittle, .card-one__ingredients, .card-one__description {
  padding-bottom: 26px
}

.cocktail-card__image {
  display: flex;
  align-items: center;
}

/* ===== RESPONSIVE (desktop ligero) ===== */

@media (min-width: 768px) {
  .hero {
    padding: var(--space-2xl);
  }

  .cocktails {
    max-width: 1100px;
    margin: 0 auto;
  }
}
